@{
    ViewData["Title"] = "PORTAL FINANCEIRO";
}

<div class="text-center">
    <h1 class="display-3">Bem vindo ao Portal Financeiro</h1>
    <h2 class="display-8">Aprenda de forma simples como gerenciar seu bolso, através de dicas e ferramentas que te levarão ao sucesso financeiro</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
